// .card-service {
//     border: 2px solid $border-slide;
//     padding-top: 50px;
//     padding-right: 60px;
//     padding-left: 60px;
//     padding-bottom: 45px;
// }

.card-service__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    margin-right: 100px;
}

.card-service__name {
    padding-left: 15px;

    @include card-service__name;

    margin-top: 15px;
    margin-bottom: 0;
}

.card-service__text {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding-left: 15px;

    margin-top: 15px;
    margin-bottom: 25px;

    max-width: 415px;

    text-align: left;

    @include card-service__text;
}

// media

// IPHONE
@media screen and (max-width: $max-phone) {
    .card-service__img {
        max-width: 100%;
    }
}