.delivery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.delivery__heading,
.delivery__text {
	@include delivery;

	text-transform: uppercase;

	margin: 0;
}

.delivery__heading {
	color: $delivery-color;
}

.delivery__text {
	margin-bottom: 30px;
}