.information__level {
	
}

.information__date {
	
}

.information__time {
	
}

.information__desc {
	
	margin-bottom: 25px;
}

.information__link {
	

	text-decoration: none;
	color: $color-link;
	border-bottom: 2px solid $border-link;
}
