.instructor__name {
	padding-top: 10px;
	padding-bottom: 10px;

    text-align: center;
    max-width: 200px;
    background-color: $bg-name;
    color: $text-name;
    position: relative;
    bottom: 30px;
   
}