// Roboto - font-weight: 400;
@font-face {
font-family: 'Roboto';
src: url('../fonts/Roboto.woff2') format('woff2'),
url('../fonts/Roboto.woff') format('woff'),
url('../fonts/Roboto.ttf');
font-weight: 400;
font-style: normal;
}

// Roboto - font-weight: 600;
@font-face {
font-family: 'Roboto';
src: url('../fonts/Robotomedium.woff2') format('woff2'),
url('../fonts/Robotomedium.woff') format('woff'),
url('../fonts/Robotomedium.ttf');
font-weight: 600;
font-style: normal;
}

// OpenSans - font-weight: 400;
@font-face {
font-family: 'OpenSans';
src: url('../fonts/opensans.woff2') format('woff2'),
url('../fonts/opensans.woff') format('woff'),
url('../fonts/opensans.ttf');
font-weight: 400;
font-style: normal;
}
