// Fonts
$default-font: 'Roboto', Arial, Helvetica, sans-serif;
$opensans-font: 'OpenSans', Arial, Helvetica, sans-serif;


// Colors
$white: #ffffff;
$black: #181818;
$black-soft: #262626;
$black-light: #373737;;
$lime: #9ce099;
$lime-soft: #74e196;
$grey: #393939;
$grey-dirty: #474747;
$metal: #767676;
$yellow: #ffcb00;

// Blocks
$default-color: $black;
$font-color: $white;
$logo-color: $yellow;
$btn-action: $yellow;
$rate-color: $yellow;
$delivery-color: $yellow;
$slide-color: $white;
$active-color: $lime;
$record-color: $black;
$record-text: $lime;
$border-table: $black;
$border-slide: $black;
$bg-name: $black;
$text-name: $white;
$color-link: $black;
$border-link: $lime;
$border-input: $black;
$font-search: $metal;
$instructor-name: $white;
$instructor-card__name: $black;
$btn-color: $white;
$dots-color: $yellow;
$about-link: $black;
$presentation-font: $white;
$footer-link: $black-light;
$discounts__title: $white;
$discounts-name: $white;
$discounts-name__color: $lime-soft;
$discounts__link-border: $white;
$discounts__link-text: $lime-soft;

$offer-color: $white;

// Breakpoint screen
$max-phone: 768px; // 768
$max-tablet: 1024px; // 1024











